
    <header>

      <!-- Nav Bar -->
      <nav id="navbar" class="navbar navbar-light navbar-expand-sm {% if site.navbar_fixed %}fixed-top{% else %}sticky-top{% endif %} ">
        <div class="container">
          <!-- Navbar Toggle -->
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <div>
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </div>
          </button>

          {% if page.permalink != '/' and page.permalink != '/publications/' -%}
            <section class="nav order-sm-3">
              <div class="navbar-brand social">
                {% include social.html %}
              </div>
            </section>
          {%- else -%}
            {%- if site.last_updated -%}
            <section class="nav order-sm-3">
              <div style="color: var(--global-text-color-light) !important; border: 1px solid var(--global-text-color-light); padding-left: 0.5rem; padding-right: 0.5rem; padding-top: 0.2rem; padding-bottom: 0.3rem; top: 8px; left: 16px; border-radius: 1rem;  font-weight: 400; font-size:  0.8em;">
                Last updated: {{ "now" | date: '%b %d, %Y' }}
              </div>
            </section>
            {%- endif %}
          {%- endif %}

          <div class="collapse navbar-collapse text-left" id="navbarNav">
            <ul class="navbar-nav flex-nowrap">

              {%- for page in site.pages -%}
                {% if page.permalink == '/' %}
                  {% assign about_title = page.title %}
                {% endif %}
              {% endfor %}

              <!-- About -->
              <li class="nav-item {% if page.permalink == '/' %}active{% endif %}">
                <a class="nav-link" href="{{ '/' | relative_url }}">{{ about_title }}
                  {%- if page.permalink == '/' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>

              <!-- Other pages -->
              {%- assign sorted_pages = site.pages | sort: "nav_order" -%}
              {%- for p in sorted_pages -%}
              {%- if p.nav and p.autogen == nil -%}
              {%- if p.dropdown %}
              <li class="nav-item dropdown {% if page.title == p.title %}active{% endif %}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ p.title }}
                  {%- if page.title == p.title -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
                  {%- for child in p.children -%}
                  {%- if child.title == 'divider' %}
                  <div class="dropdown-divider"></div>
                  {%- else %}
                  <a class="dropdown-item" href="{{ child.permalink | relative_url }}">{{ child.title }}</a>
                  {%- endif -%}
                  {% endfor %}
                </div>
              </li>
              {%- else %}
              <li class="nav-item {% if page.title == p.title %}active{% endif %}">
                <a class="nav-link" href="{{ p.url | relative_url }}">{{ p.title }}
                  {%- if page.title == p.title -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {%- endif -%}
              {%- endif -%}
              {% endfor -%}

              <!-- Blog -->
              {% if site.blog_nav_title %}
              <li class="nav-item {% if page.url contains 'blog' %}active{% endif %}">
                <a class="nav-link" href="{{ '/blog/' | relative_url }}">{{ site.blog_nav_title }}
                  {%- if page.url contains 'blog' -%}
                  <span class="sr-only">(current)</span>
                  {%- endif -%}
                </a>
              </li>
              {%- endif %}


              {%- if site.enable_darkmode %}
              <!-- Toogle theme mode -->
              <div class = "toggle-container">
                <a id = "light-toggle">
                  <i class="fas fa-moon"></i>
                  <i class="fas fa-sun"></i>
                </a>
              </div>
              {%- endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
