<!-- _includes/projects.html -->
<div class="grid-sizer"></div>
<div class="grid-item">
  {% if project.redirect -%}
    <a href="{{ project.redirect }}">
  {%- else -%}
    <a href="{{ project.url | relative_url }}">
  {%- endif %}
      <div class="card-container">
        <div class="card hoverable">
          {%- if project.img %}
            {%- include figure.html
                path=project.img
                alt="project thumbnail" -%}
          {%- endif %}
          <div class="card-body">
            <p class="card-title">{{ project.title }}</p>
            <p class="card-text">{{ project.description }}</p>
          </div>
        </div>
      </div>

    </a>
</div>
