---
layout: default
---

<!-- about.html -->
      <div class="post">
        <header class="post-header">


          {% if page.profile -%}
          <div class="card hoverable">
            <div class="row">
              <div class="col-sm-3">
                <div class="profile">
                  {%- if page.profile.image %}
                    {%- assign profile_image_path = page.profile.image | prepend: 'assets/img/' -%}
                    {% include figure.html
                    path=profile_image_path
                    class="img-fluid z-dept-1"
                    alt=page.profile.image -%}
                  {% endif -%}
                  {%- if page.profile.address %}
                  <div class="address">
                    {{ page.profile.address }}
                  </div>
                  {%- endif %}
                </div>
              </div>

              <div class="col-sm-9">
                <div class="clearfix">
                  <h1 class="post-title">
                   {% if site.title == "blank" -%}<span class="font-weight-bold">{{ site.first_name }}</span> {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title }}{%- endif %}
                  </h1>
                  <p class="desc">{{ page.subtitle }}</p>
                </div>

                {%- if page.social %}
                <!-- Social -->
                <div class="social">
                  <div class="contact-icons">
                  {% include social.html %}
                  </div>

                  <!-- <div class="contact-note">
                    {{ site.contact_note }}
                  </div> -->
                </div>
                {%- endif %}
              </div>
            </div>
          </div>
          {%- endif %}
        </header>

        <article>
          <p class="card-breaker"><i class="fas fa-info-circle"></i> About</p>
          <div class="card hoverable">
            <div class="clearfix" style="text-align:left;">
              {{ content }}
            </div>
          </div>

          {% if page.news -%}
          <!-- News -->
          {%- include news.html %}
          {%- endif %}


          {% if page.selected_papers -%}
            <!-- Selected papers -->
            {%- include selected_papers.html %}
          {%- endif %}

        </article>

</div>
